<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- properties标签：1.可以定义键值对 2.可以引用属性文件 -->
    <properties resource="jdbc.properties"></properties>
    <!-- 在environments配置数据库连接信息 -->
    <!-- 在environments标签中可以定义多个environment标签，每个environment标签可以定义一套连接配置 -->
    <!-- default属性，用来指定使用哪个environment标签 -->
    <environments default="mysql">
        <environment id="mysql">
            <!--transactionManager标签用于配置数据库管理方式-->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource标签就是用来配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql_driver}"/>
                <property name="url" value="${mysql_url}"/>
                <property name="username" value="${mysql_username}"/>
                <property name="password" value="${mysql_password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--每一个Mapper.XML都需要在Mybatis核心配置文件中注册！-->
    <mappers>
        <mapper resource="mapper/CanteenCustomerMapper.xml"/>
    </mappers>
</configuration>